<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Find Me A Movie - {{name}}</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="static/css/plugins.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="static/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <a href="/index"><img class="logo" src="static/images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a href="/index" class="btn btn-default lv1">
							Home <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/moviegrid" class="btn btn-default lv1">
								movies <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/celebritygrid" class="btn btn-default lv1">
								popular actors <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/facts" class="btn btn-default lv1">
								Fun Facts <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

	</div>
</header>
<!-- END | Header -->

<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src={{poster}} alt="{{name}}">
                    {% if trailer is not none %}
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href={{trailer}} target="_blank" class="item item-2 redbtn hvr-grow"><i class="ion-play"></i></a></div>
						</div>
					</div>
                    {% endif %}
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{name}} <span>{{year}}</span></h1>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{rating}}</span><br>
							</p>
						</div>
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><h3 style="color:white;" >Overview</h3></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p> {{plot}}</p>
											<div class="title-hd-sm">
												<h4>cast</h4>
											</div>
											<!-- movie cast TODO set case url to actor page--->
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[0]}}</p>
													</div>
												</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[1]}}</p>
													</div>
												</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[2]}}</p>
													</div>
												</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[3]}}</p>
													</div>
												</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[4]}}</p>
													</div>
												</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[5]}}</p>
													</div>
												</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[6]}}</p>
													</div>
												</div>
											</div>
											<div class="mvcast-item">
												<div class="cast-it">
													<div class="cast-left">
														<p>{{actors[7]}}</p>
													</div>
												</div>
											</div>
						            	</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Director: </h6>
						            			<p>{{director}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Genres:</h6>
						            			<p>{{genres}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{date}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{runtime}}</p>
						            		</div>
						            	</div>
						            </div>
						        </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index"><img class="logo" src="static/images/logo1.png" alt=""></a>
				 <p>Built by<br>Mor Polani<br>Daniel Kotler<br>Oz Zafar<br>Dvir Salomon</p>
			</div>
		</div>
	</div>
	<div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="static/js/jquery.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/plugins2.js"></script>
<script src="static/js/custom.js"></script>
</body>


</html>
