<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Find Me A Movie - Celebrity Listing</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="static/css/plugins.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="static/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <a href="/index"><img class="logo" src="static/images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a href="/index" class="btn btn-default lv1">
							Home <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/moviegrid" class="btn btn-default lv1">
								movies <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/celebritygrid" class="btn btn-default lv1">
								popular actors <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/facts" class="btn btn-default lv1">
								Fun Facts <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

	</div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>popular actors</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> popular actors</li>
					</ul>

				</div>
                <div id="explain_area" style="background-color: white; border-radius: 20px; padding: 20px; margin-top:30px;">
                    <p id="" style="color: black; margin: 0;'''selected''' ">
                        Given a minimum rating (X) and range of years (Y1-Y2) the query returns actors who played in movies that were filmed in the years Y1-Y2 and got rating of X or above.
                    </p>
                </div>
			</div>
		</div>

	</div>
</div>
<!-- celebrity grid v1 section-->
<div class="page-single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p class="pad-change" style="padding-right: 370px;">Found <span>{{ res|length }} popular actors</span> in total {{ user_search }}</p>
				</div>
				<div class="celebrity-items">
					{% for row in res %}
                        {% if row[picture_URL] is none %}
                            {% set picture = "/static/images/no_photo_availble.png" %}
                        {% else %}
                            {% set picture = "https://image.tmdb.org/t/p/w300" + row[picture_URL]|string %}
                        {% endif %}
                        <div class="ceb-item">
                            <img src="{{ picture }}" width="270" height="400">
                            <div class="ceb-infor">
                                <h2>{{ row[first_name] }} {{ row[last_name] }}</h2>
                                <span>Number of Movies: {{ row[num_of_movies] }}</span>
                            </div>
                        </div>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="sidebar">
						<div class="searh-form">
						<h4 class="sb-title">Search celebrity</h4>
						<form class="form-style-1 celebrity-form" action="" method="post">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Minimum rating</label>
									<select name="minimum_rating">
										<option value="0">All</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
											<input type="text" name="from_year" placeholder="From">
										</div>
										<div class="col-md-6">
											<input type="text" name="to_year" placeholder="To">
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" name="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end of celebrity grid v1 section-->
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index"><img class="logo" src="static/images/logo1.png" alt=""></a>
				 <p>Built by<br>Mor Polani<br>Daniel Kotler<br>Oz Zafar<br>Dvir Salomon</p>
			</div>
		</div>
	</div>
	<div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="static/js/jquery.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/plugins2.js"></script>
<script src="static/js/custom.js"></script>
</body>


</html>
