{% extends "facts.html" %}
{% block content %}
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				{% if is_form_sent %}
				<div class="topbar-filter">
					<p class="pad-change" style="padding-right: 0px;">Found <span>{{ res|length }} couples</span>{{search_query}}</p>
				</div>
				<div class="celebrity-items">
					{% for row in res if not (row[director_first_name] is none or row[director_last_name] is none
                            or row[actor_first_name] is none or row[actor_last_name] is none or row[co_operations] is none
                            or row[user_genres] is none) %}
                        {% if row[director_pic] is none %}
                            {% set director_picture = "/static/images/no_photo_availble.png" %}
                        {% else %}
                            {% set director_picture = "https://image.tmdb.org/t/p/w1280" + row[director_pic]|string %}
                        {% endif %}

                        {% if row[actor_pic] is none %}
                            {% set actor_picture = "/static/images/no_photo_availble.png" %}
                        {% else %}
                            {% set actor_picture = "https://image.tmdb.org/t/p/w1280" + row[actor_pic]|string %}
                        {% endif %}

					<div class="ceb-item">
						<img src="{{ director_picture }}" alt="" width="300" height="450">
						<div class="ceb-infor">
							<h3>{{row[director_first_name]}} {{row[director_last_name]}}</h3>
							<span>director</span>
						</div>
					</div>
					<div class="ceb-item">
						<img src="{{ actor_picture }}" alt="" width="300" height="450">
						<div class="ceb-infor">
							<h3>{{row[actor_first_name]}} {{row[actor_last_name]}}</h3>
							<span>actor</span>
						</div>
					</div>
					<div class="ceb-item">
						<div class="ceb-infor">
							<p><span>Number of common movies: {{row[co_operations]}}</span></p>
							<p><span>Genres:</span><br>{{row[user_genres]|safe}}</p>
						</div>
					</div>
					{% endfor %}
				</div>

				{% else %}
				<p style="text-align:center; font-size: 1.5em; font-weight: bold;">
					Please fill the form on the right
				</p>
				{% endif %}
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="sidebar">
						<div class="searh-form">
						<h4 class="sb-title">Search</h4>
						<form class="form-style-1 celebrity-form" action="" method="post" onsubmit="return validate_form();">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Number of common movies:</label>
									<input type="text" name="number_of_common_movies" placeholder="Enter a number">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres</label>
									<div class="group-ip">
										<select name="genres_select" multiple="" class="ui fluid dropdown" id="selected_genres">
											<option value="">Choose genres</option>
											{% for genre in genres %}
											<option value="{{genre}}">{{genre}}</option>
											{% endfor %}
										</select>
										<input type="hidden" name="genres" value="" id="selected_genres_hidden">
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" name="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
{% endblock %}