{% extends "facts.html" %}
{% block content %}
		<div class="row ipad-width2">
			<div class="col-md-9 col-sm-12 col-xs-12">
				{% if is_form_sent %}
				<div class="topbar-filter">
					<p class="pad-change" style="padding-right: 370px;">Found <span>1,608 celebrities</span> in total</p>
				</div>
				<div class="celebrity-items">
					{% for row in res %}
					<div class="ceb-item">
						<a href="#"><img src="https://image.tmdb.org/t/p/w300/{{row[director_pic]}}" alt=""></a>
						<div class="ceb-infor">
							<h2><a href="#">{{row[director_first_name]}} {{row[director_last_name]}}</a></h2>
							<span>director</span>
						</div>
					</div>
					<div class="ceb-item">
						<a href="#"><img src="https://image.tmdb.org/t/p/w300/{{row[actor_pic]}}" alt=""></a>
						<div class="ceb-infor">
							<h2><a href="#">{{row[actor_first_name]}} {{row[actor_last_name]}}</a></h2>
							<span>actor</span>
						</div>
					</div>
					<div class="ceb-item">
						<div class="ceb-infor">
							<p><span>Number of common movies: {{row[co_operations]}}</span></p>
							<p><span>Genres:</span>{{row[genres]|safe}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="topbar-filter">
					<div class="pagination2">
						<span>Page 1 of 6:</span>
						<a class="active" href="celebritygrid?page=1">1</a>
						<a href="celebritygrid?page=2">2</a>
						<a href="celebritygrid?page=3">3</a>
						<a href="celebritygrid?page=4">4</a>
						<a href="celebritygrid?page=5">5</a>
						<a href="celebritygrid?page=6">6</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
				{% else %}
				<p style="text-align:center; font-size: 1.5em; font-weight: bold;">
					Please fill the form on the right
				</p>
				{% endif %}
			</div>
			<div class="col-md-3 col-xs-12 col-sm-12">
				<div class="sidebar">
						<div class="searh-form">
						<h4 class="sb-title">Search</h4>
						<form class="form-style-1 celebrity-form" action="" method="post">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Number of common movies:</label>
									<input type="text" name="number_of_common_movies" placeholder="Enter a number">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres</label>
									<div class="group-ip">
										<select name="genres" multiple="" class="ui fluid dropdown">
											<option value="">Choose genres</option>
											{% for genre in genres %}
											<option value="{{genre}}">{{genre}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" name="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
{% endblock %}