<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Find Me A Movie - Movie Listing</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="static/css/plugins.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="static/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->

<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <a href="/index"><img class="logo" src="static/images/logo1.png" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li class="dropdown first">
							<a href="/index" class="btn btn-default lv1">
							Home <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/moviegrid" class="btn btn-default lv1">
								movies <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/celebritygrid" class="btn btn-default lv1">
								celebrities <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
						<li class="dropdown first">
							<a href="/facts" class="btn btn-default lv1">
								Fun Facts <i class="fa" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</div>
			<!-- /.navbar-collapse -->
	    </nav>

	</div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> movie listing</h1>
					<ul class="breadcumb">
						<li class="active"><a href="/index">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="topbar-filter">
					<p style="padding-right: 300px;">Found <span>1,000 movies</span> in total</p>
				</div>
				<div class="flex-wrap-movielist">
					{{body|safe}}
				</div>
				<div class="topbar-filter">
					<div class="pagination2" style="line-height: 2em; padding-left: 50px;">
						<span>Page 1 of 50:</span>
						<a class="active" href=?page=2>1</a>
						<a href="?page=2">2</a>
						<a href="?page=3">3</a>
						<a href="#">...</a>
						<a href="#">49</a>
						<a href="#">50</a>
						<a href="#"><i class="ion-arrow-right-b"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar">
					<div class="searh-form">
						<h4 class="sb-title">Search for movie</h4>
						<form class="form-style-1" action="" method="post" onsubmit="return validate_form();">
							<div class="row">
								<div class="col-md-12 form-it">
									<label>Search type</label>
									<select name="exact_match">
										<option value="contains">Contains</option>
										<option value="exact">Exact match</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Movie title</label>
									<input type="text" name="movie_title" placeholder="Enter keywords">
								</div>
								<div class="col-md-12 form-it">
									<label>Genres</label>
									<div class="group-ip">
										<select name="genres" multiple="" class="ui fluid dropdown" id="selected_genres">
											<option value="">Choose genres</option>
											{% for genre in genres %}
											<option value="{{genre}}">{{genre}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-md-12 form-it">
									<label>Minimum rating</label>
									<select name="minimum_rating">
										<option value="0">All</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
									</select>
								</div>
								<div class="col-md-12 form-it">
									<label>Release Year</label>
									<div class="row">
										<div class="col-md-6">
											<input type="text" name="from_year" placeholder="From">
										</div>
										<div class="col-md-6">
											<input type="text" name="to_year" placeholder="To">
										</div>
									</div>
								</div>
								<div class="col-md-12 ">
									<input class="submit" type="submit" name="submit" value="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="index"><img class="logo" src="static/images/logo1.png" alt=""></a>
				 <p>Built by<br>Mor Polani<br>Daniel Kotler<br>Oz Zafar<br>Dvir Salomon</p>
			</div>
		</div>
	</div>
	<div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="static/js/jquery.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/plugins2.js"></script>
<script src="static/js/custom.js"></script>
<script type="text/javascript">
	function validate_form() {
		var num_of_selected_genres = $('#selected_genres option:selected').length;
		if (num_of_selected_genres > 0) {
			return true;
		}
		alert('You must choose at least one genre');
		return false;
	}
</script>
</body>


</html>
